*,
*::before,
*::after {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.flex {
  display: flex;
  &.flex-center {
    justify-content: center;
    align-items: center;
  }
  &.flex-row {
    flex-direction: row;
  }
  &.flex-column {
    flex-direction: column;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.justify-space-around {
    justify-content: space-around;
  }

  &.align-start {
    align-items: flex-start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-end {
    align-items: flex-end;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }
}

$spaces:
  "0" 0px,
  "2" 2px,
  "4" 4px,
  "6" 6px,
  "8" 8px,
  "10" 10px,
  "12" 12px,
  "16" 16px,
  "20" 20px,
  "24" 24px,
  "28" 28px,
  "32" 32px;

@each $key, $value in $spaces {
  .p-#{$key} {
    padding: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
};

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@each $key, $value in $spaces {
  .m-#{$key} {
    margin: $value;
  }
  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
};

.mw-1 {
  max-width: 320px;
}
.mw-2 {
  max-width: 540px;
}
.mw-3 {
  max-width: 720px;
}
.mw-4 {
  max-width: 960px;
}
.mw-5 {
  max-width: 1140px;
}