
// Array of Color List
$colors-list:
  "blue-1" $blue-1,
  "blue-2" $blue-2,
  "blue-3" $blue-3,
  "blue-4" $blue-4,
  "blue-5" $blue-5,

  "green-1" $green-1,
  "green-2" $green-2,
  "green-3" $green-3,
  "green-4" $green-4,
  "green-5" $green-5,

  "red-1" $red-1,
  "red-2" $red-2,
  "red-3" $red-3,
  "red-4" $red-4,
  "red-5" $red-5,

  "yellow-1" $yellow-1,
  "yellow-2" $yellow-2,
  "yellow-3" $yellow-3,
  "yellow-4" $yellow-4,
  "yellow-5" $yellow-5,

  "white" $white,
  "grey-1" $grey-1,
  "grey-2" $grey-2,
  "grey-3" $grey-3,
  "grey-4" $grey-4,
  "grey-5" $grey-5,
  "black" $black;

// loop for text selector
@each $key, $value in $colors-list {
  .text-#{$key} {
    color: $value !important;
  }
};

// loop for background selector
@each $key, $value in $colors-list {
  .bg-#{$key} {
    background-color: $value !important;
  }
};
