
/* Color */
$blue-1: #E7F1FC;
$blue-2: #8BBDF3;
$blue-3: #2E89EA;
$blue-4: #005BBD;
$blue-5: #003369;

$green-1: #F2F8F0;
$green-2: #C1E0B7;
$green-3: #90C87D;
$green-4: #639A50;
$green-5: #37562D;


$red-1: #FCE9E8;
$red-2: #F2958F;
$red-3: #E84136;
$red-4: #BA1309;
$red-5: #680B05;

$yellow-1: #FFF7ED;
$yellow-2: #FFD7A8;
$yellow-3: #FFB862;
$yellow-4: #D18B35;
$yellow-5: #744D1E;

$white: #ffffff;
$grey-1: #EBEDEF;
$grey-2: #D7DBDF;
$grey-3: #B0B7BF;
$grey-4: #89949F;
$grey-5: #62707F;
$black: #000000;


// Array of Color List
$colors-list:
  "blue-1" $blue-1,
  "blue-2" $blue-2,
  "blue-3" $blue-3,
  "blue-4" $blue-4,
  "blue-5" $blue-5,

  "green-1" $green-1,
  "green-2" $green-2,
  "green-3" $green-3,
  "green-4" $green-4,
  "green-5" $green-5,

  "red-1" $red-1,
  "red-2" $red-2,
  "red-3" $red-3,
  "red-4" $red-4,
  "red-5" $red-5,

  "yellow-1" $yellow-1,
  "yellow-2" $yellow-2,
  "yellow-3" $yellow-3,
  "yellow-4" $yellow-4,
  "yellow-5" $yellow-5,

  "white" $white,
  "grey-1" $grey-1,
  "grey-2" $grey-2,
  "grey-3" $grey-3,
  "grey-4" $grey-4,
  "grey-5" $grey-5,
  "black" $black;

// loop for text selector
@each $key, $value in $colors-list {
  .text-#{$key} {
    color: $value !important;
  }
};

// loop for background selector
@each $key, $value in $colors-list {
  .bg-#{$key} {
    background-color: $value !important;
  }
};
